.custom-color-button{
    color: #212529;
    outline: 1px solid #212529;
    border: 3px solid #f8f9fa;
    border-radius: 100%;
    width: 2.3rem;
    height: 2.3rem;
}

.counter-input, .counter-input:focus{
    width: 50px;
    height: 50px;
    text-align: center; 
    background-color: #ffffff00;
    border: none;
    box-shadow: none;
}

.counter-input-div{
    overflow: hidden;
    margin-right: 5px; 
}

.counter-button, .counter-button:hover, .counter-button:focus, .counter-button:active{
    color: #212529;
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
    border: none;
    box-shadow: none;
}